.container {
    display: inline-block;
    padding: 15px 55px;
    margin-top: 30px;
}

.header {
    text-transform: uppercase;
    font-variant: all-small-caps;
    line-height: 1;
    margin-top: -5px;
}

@media (max-width: 490px) {
    .container {
        padding: 15px 20px;
    }
}

/*Style for Iphone*/
@media (max-width: 450px) {
    .header {
        font-variant: revert;
        font-size: 18px !important;
        margin-top: 0;
    }
}