.container {
    /*opacity: 80%;*/
    width: 100vw;
    height: 100vh;
    position: fixed; /* This will position it relative to the viewport */
    top: 0;
    left: 0;
    z-index: 9999; /* A high z-index to make sure it's on top */
}

.spinnerContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Ensure it's on top */
}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertText {
    font-size: 20px;
    text-align: center;
}

.errorEmail {
    cursor: pointer;
    font-weight: 700;
}

.errorEmail:hover {
    text-decoration: underline;
}

.closeButton {
    position: absolute; /* Position relative to the nearest positioned ancestor */
    top: 50px; /* Align to the top of the ancestor */
    right: 80px; /* Align to the right of the ancestor */
    cursor: pointer; /* Changes the cursor to the pointer hand icon */
    font-size: 45px;
}

