.container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    text-transform: uppercase;
    font-variant: all-small-caps;
}

@media (max-width: 450px) {
    .title {
        text-transform: uppercase;
        font-variant: revert;
        font-size: 15px !important;
    }
}